カイ二乗検定のp値を確認する

In [1]:
import altair as alt
import pandas as pd
import scipy as sp
import titanite as ti

print(f"Altair {alt.__version__}")
print(f"Pandas {pd.__version__}")
print(f"SciPy {sp.__version__}")
print(f"Titanite {ti.__version__}")

Altair 5.0.1
Pandas 2.0.3
SciPy 1.11.1
Titanite 0.4.0

In [2]:
f_csv = "../data/test_data/chi2_test/chi2_test.csv"
f_p005 = "../data/test_data/chi2_test/chi2_test_p005.csv"
data = pd.read_csv(f_csv)
p005 = pd.read_csv(f_p005)
#data

データが同じか確認

In [ ]:
len(data.query("p_value < 0.05")) == len(p005)

データにヒートマップのファイル名も追加したい

In [ ]:
"../data/test_data/crosstab/" + data["questions"] + ".png"

In [3]:
data

,questions,p_value,statistic,dof,png
0,q01-q02,5.795956e-01,29.775320,32,../data/test_data/crosstab/q01-q02.png
1,q01-q03,4.781194e-08,232.366478,128,../data/test_data/crosstab/q01-q03.png
2,q01-q03_regional,2.875787e-09,115.590322,40,../data/test_data/crosstab/q01-q03_regional.png
3,q01-q03_subregional,4.781194e-08,232.366478,128,../data/test_data/crosstab/q01-q03_subregional...
4,q01-q04,2.089338e-11,274.586635,136,../data/test_data/crosstab/q01-q04.png
...,...,...,...,...,...
320,q17_equity-q17_inclusion,1.088810e-100,494.033999,9,../data/test_data/crosstab/q17_equity-q17_incl...
321,q17_equity-q19,3.230982e-02,26.584499,15,../data/test_data/crosstab/q17_equity-q19.png
322,q17_genderbalance-q17_inclusion,2.737238e-53,271.582306,9,../data/test_data/crosstab/q17_genderbalance-q...
323,q17_genderbalance-q19,5.436973e-01,13.761392,15,../data/test_data/crosstab/q17_genderbalance-q...
324,q17_inclusion-q19,8.232043e-01,9.944695,15,../data/test_data/crosstab/q17_inclusion-q19.png

In [ ]:
def draw_chi2_test(data: pd.DataFrame):
    mark = alt.Chart(data).mark_circle(size=300).encode(
        alt.X("p_value"),
        alt.Y("questions"),
        alt.Color("dof"),
        alt.Tooltip(["questions", "p_value", "statistic", "dof"])
    )

    rule = alt.Chart().mark_rule(color="orange").encode(
        x = alt.datum(0.05)
    )

    n = len(data)
    chart = (mark + rule).properties(
        title=f"Number of data : {n}",
        width=1000,
    )
    
    return chart

In [ ]:
draw_chi2_test(data).interactive()
draw_chi2_test(data).save("../data/test_data/chi2_test/chi2_test.png")

In [ ]:
diff = data.query("0 < p_value < 0.05")
draw_chi2_test(diff).interactive()
draw_chi2_test(diff).save("../data/test_data/chi2_test/chi2_test_p005.png")