アンケート回答者の基本統計

- 回答者の男女の数

In [1]:
import pandas as pd
import titanite as ti

現地参加

In [2]:
# Onsite : sum
n = {"Male": [852], "Female": [241], "Others": [9]}
data = pd.DataFrame.from_dict(n).melt()
data["sum"] = data["value"].sum()
data["ratio"] = data["value"] / data["sum"] * 100
data

  variable  value   sum      ratio
0     Male    852  1102  77.313975
1   Female    241  1102  21.869328
2   Others      9  1102   0.816697

オンライン参加

In [3]:
# Online : sum
n = {"Male": [220], "Female": [84], "Others": [0]}
data = pd.DataFrame.from_dict(n).melt()
data["sum"] = data["value"].sum()
data["ratio"] = data["value"] / data["sum"] * 100
data

  variable  value  sum      ratio
0     Male    220  304  72.368421
1   Female     84  304  27.631579
2   Others      0  304   0.000000

現地参加 + オンライン参加

In [4]:
# On-site + Online
n = {"Male": [852+220], "Female": [241+84], "Others": [9]}
data = pd.DataFrame.from_dict(n).melt()
data["sum"] = data["value"].sum()
data["ratio"] = data["value"] / data["sum"] * 100
data

  variable  value   sum      ratio
0     Male   1072  1406  76.244666
1   Female    325  1406  23.115220
2   Others      9  1406   0.640114

Diversity Sessionの参加者

このアンケートの回答者

In [5]:
f_cfg = "../sandbox/config.toml"
f_csv = "../data/test_data/prepared_data.csv"
d = ti.Data(load_from=f_cfg, read_from=f_csv)
data = d.read()

q02 = data.groupby("q02")["response"].sum().reset_index()
q02["sum"] = q02["response"].sum()
q02["ratio"] = q02["response"] / q02["sum"] * 100
q02

2023-07-28 05:33:24.029 | INFO     | titanite.preprocess:categorical_data:126 - Categorize
2023-07-28 05:33:24.052 | INFO     | titanite.preprocess:binned_data:309 - Binned

                       q02  response  sum      ratio
0                     Male       195  295  66.101695
1                   Female        90  295  30.508475
2               Non-binary         5  295   1.694915
3  Prefer to self-identify         3  295   1.016949
4     Prefer not to answer         2  295   0.677966

アンケートの回答率

In [6]:
295 / 1406 * 100

20.98150782361309

In [7]:
data[d.categorical_headers].duplicated().sum()

0